#header{
    @include position-fixed; //mixin.scss 에서 만들어논거 가져와서 쓰기
    z-index: 1000;
    // position: fixed;
    // top: 0;
    // left: 0;
    // width: 100%; 

    .header_inner{
        @include flex-between; //자식들(로고,네비,햄버거) 가로정렬
        // display: flex;
        // justify-content: space-between;
        background-color: rgba(116,99,99,0.3);
        padding: 1rem;
        backdrop-filter: blur(15px);

        .header_logo{
            font-size: 1.3rem;
            text-transform: uppercase;
            font-weight: 500;
            text-align: center;
            line-height: 1;

            em{
                display: block;
                font-size: 12px;
            }
        }

        .header_nav{
            
            ul{
                li{
                    display: inline; //nav 가로정렬

                    a{
                        padding: 14px;
                        position: relative; //가상요소 기준점

                        &::before{
                            content: "";
                            position: absolute;
                            left: 0;
                            bottom: 5px;
                            width: 100%;
                            height: 1px;
                            background-color: var(--black);
                            transform: scaleX(0); //밑줄 가로방향으로 
                            transition: all 0.3s;
                        }
                        &:hover::before{
                            transform: scaleX(1);
                        }
                    }
                }
            }

            @media(max-width:800px){ 
                display: none; //반응형 800보다 작아지면 nav 안보이게

                &.show{
                    display: block; //class .show가질때 햄버거메뉴 밑으로 위치시키기

                    ul{
                        position: absolute;
                        right: 1rem; //햄버거메뉴랑 오른쪽 라인 맞추기위해
                        top: 68px;
                        background-color: rgba(182,182,182,0.8);
                        li{
                            display: block; //위쪽에서 inline 준걸 블록으로 바꿔 세로정렬
                            a{
                                display: block; //패딩값 주기위해
                                padding: 10px 25px;
                            }
                        }
                    }
                }
                //&.show를 가질 때만 형제를 찾으려면 + 로 연결
                &.show + .header_nav_mobile span::before{ 
                    width: 20px;
                } 
                &.show + .header_nav_mobile span::after{
                    width: 20px;
                }
            }
        }

        .header_nav_mobile{
            
            display: none;
            width: 40px;
            height: 40px;
            background-color: lightpink;

            @media(max-width:800px){
                display: block;
            }

            span{ //햄버거메뉴 가운데라인 그리기
                display: block;
                width: 40px;
                height: 2px;
                background-color: var(--black);
                margin-top: 19px;
                position: relative; //가상요소 기준점

                &::before{ //밑에라인
                    content: "";
                    position: absolute;
                    top: 6px;
                    right: 0;
                    width: 40px;
                    height: 2px;
                    background-color: var(--black);
                    transition: all 0.3s;
                }
                &::after{ //위에라인
                    content: "";
                    position: absolute;
                    bottom: 6px;
                    left: 0;
                    width: 40px;
                    height: 2px;
                    background-color: var(--black);
                    transition: all 0.3s;
                }
            }
        }
    }
}