#intro{
    height: 100vh;

    .intro_inner{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-start; //왼쪽으로 정렬
        justify-content: flex-end; //아래로 정렬
        flex-direction: column; // 행을 열로 , 열을 행으로 변경
        padding: 1rem;

        @media(max-width:800px){
            justify-content: center;
        }

        .intro_title{
            width: 100%;
            font-size: 9vw;
            text-transform: uppercase;
            font-weight: 700;
            white-space: nowrap;
            text-align: center;

            @media(max-width:320px){
                display: none;
            }
        }
        .intro_text{
            cursor: pointer;
            width: 100%;
            height: 40vh;
            background-color: var(--black);
            color: var(--white);
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            position: relative;
            
            .text{
                font-size: 3vw;
                font-weight: 900;
                text-transform: uppercase;
                text-align: center;
                line-height: 1;
                transition: all 0.3s;
                position: relative;
                z-index: 10; //글자가 그림 위로 와야하므로 포지션과 z-index 씀

                @media(max-width:800px){
                    font-size: 25px;
                }
            }
            .img{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 30vh;
                height: 30vh;
                border-radius: 50%;
                overflow: hidden; //그림을 싸고있는 border에 radius를 준거기 때문에 그림은 네모, 그래서 overflow 히든 줘야 동그랗게 이미지 변함
                filter: saturate(0%);
                transition: all 0.3s; //마우스호버 효과 줄거라 속도

                @media(max-width:800px){
                    width: 20vh;
                    height: 20vh;
                }
            }
            &:hover .text{
                opacity: 0;
            }
            &:hover .img{
                filter: saturate(100%);
            }
        }
        .intro_lines{
            width: 100%;

            .line{
                width: 100%;
                height: 1px;
                background-color: var(--black);
                margin-bottom: 0.5vw;
                display: block; //span 이라 display block 줘야함 >> 왜?

                &:nth-of-type(1){height: 1px;}
                &:nth-of-type(2){height: 2px;}
                &:nth-of-type(3){height: 5px;}
                &:nth-of-type(4){height: 9px;}
                &:nth-of-type(5){height: 13px;}
                &:nth-of-type(6){height: 17px;}
                &:nth-of-type(7){height: 25px;}
            }

            &.bottom{
                .line{
                    // margin-bottom: 0; 쌤이 준건데 왜줬지?
                    margin-top: 0.5vw;
                    display: none; //모니터화면에선 감추기

                    @media(max-width:800px){
                        display: block;
                    }

                    &:nth-of-type(1){height: 25px;}
                    &:nth-of-type(2){height: 17px;}
                    &:nth-of-type(3){height: 13px;}
                    &:nth-of-type(4){height: 9px;}
                    &:nth-of-type(5){height: 5px;}
                    &:nth-of-type(6){height: 2px;}
                    &:nth-of-type(7){height: 1px;}                    
                }

            }
        }
    }
}