#skill{
    .skill_inner{
        padding: 16px;
        display: flex;
        justify-content: space-between;

        @media(max-width:800px){
            flex-direction: column;
        }

        .skill_title{
            width: 48%;
            height: 5vw;
            position: sticky;
            top: 70px;
            left: 0;
            font-size: 4vw;
            font-weight: 700;
            border-bottom: 0.4vw solid var(--black100);

            @media(max-width:800px){
                width: 100%;
                font-size: 30px;
                background-color: var(--mainBg-color);
            }

            em{
                font-size: 1.25rem;
                font-weight: bold;
                line-height: 2;
            }
        }
        .skill_desc{
            width: 50%;

            @media(max-width:800px){
                width: 100%;
            }

            span{
                font-size: 5vw;
                font-weight: 700;
                font-family: var(--mainNum-font-font);
            }
            h3{
                font-size: 2rem;
                text-decoration: underline;
                margin-bottom: 1vw;
            }
            p{
                margin-bottom: 30vh;
                font-size: 1.5rem;
            }
        }
    }
}